.menu-line {
    display: flex;
    align-items: center;
    gap: 72%;
    color: var(--white);
}

.menu-line ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: small;
    cursor: pointer;
}

#header-title {
    margin-left: 30px;
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: normal;
}

#contact-button {
    font-family: "Barlow", serif;
    font-weight: 900;
    font-style: normal;
    color: var(--very-dark-desaturated-blue);
    background: var(--white);
    padding: 10px 15px;
    border-radius: 30px;
}